<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>hi, mse-2103-a!</h1>
    <p>What's your name?</p>
    <form action="/game" method="post">
      <input id="player1-name-textbox" type="text" name="player1">

      <input id="name-submit" type="submit" value="Submit!">
    </form>
  </body>
</html>
