<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id="game-result">You lost!</h1>

    <p>You chose <%= player %></p>
    <p>Computer chose <%= computer %></p>

    <a id="next-link" href="/game">next round</a>
  </body>
</html>
